header{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    @include xl-d{
        width: 94%;
    }
}

.header {
    &__logo {
        margin-right: 152px;
        @include md-d{
            margin: 0;
        }
    }
    &__contacts {
        display: flex;
        margin-left: -55px;
        @include xl-d{
            display: none;
        }
    }
    &__number,
    &__shedule{
        @include simpleText;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #070C11;
        margin-left: 20px;
    }
    &__number:first-child{
        margin-right: 3px;
    }
    &__shedule {
        color: #838688;
    }
    &__search {
        width: 80px;
        padding: 9px 12px 15px 15px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #C8CACB;
        @include md-d{
            display: none;
        }
    }
    &__user-api {
        width: 192px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        @include hover;
        @include md-d{
            display: none;
        }
    }

    &__user-img{
        width: 20px;
    }
    &__enter {
        @include simpleText;
        @include hover;
        color: #fff;
        border: 0px;
        background-color: #2A5275;
        padding: 16px 26px;
        border-radius: 4px;
    }
}
.search {
    &__img {
        margin-right: 15px;
    }
    &__input {
        @include simpleText;
        border: 0px;
        width: 59px;
        outline: none;
        line-height: 19px;
        letter-spacing: 0em;
        color: #838688;
    }
}
.buy-page-btn,
.prefer-link {
    position: relative;
}
.buy-counter{
    position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: #2A5275;
    right: -50%;
    top: -50%;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.prefer-counter{
    position: absolute;
    width: 19px;
    height: 19px;
    background-color: red;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -50%;
    top: -50%;
}