.mobile-nav {
    display: none;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 94%;
    background-color: #2A5275;
    padding: 15px 3%;
    position: fixed;
    bottom: 0;
    z-index: 2;
    @include md-d{
        display: flex;
    }

    &__link {
        color: #fff;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__icon{
        width: 24px;
        height: 24px;
    }
}

.main-nav {
    background-color: #0E1821;
    @include xl-d{
        display: none;
    }
}
.wrapper{
    width: 1300px;
    margin: 0 auto;
    @include xl-d{
        width: 94%;
    }
}
.main-nav .wrapper{
    display: flex;
}
.catalog {
    background-color: #243C53;
    padding: 13px 112px 15px 20px;
    display: flex;
    align-items: center;
    width: 179px;
    @include hover;
    position: relative;
    z-index: 70;

    &__text {
        color: #fff;
        @include simpleText;
        margin-left: 9px;
        text-decoration: none;
    }
}
.nav {
    &__list {
        display: flex;
        align-items: center;
        list-style: none;
        margin-left: 24px;
        position: relative;
        z-index: 70;
        @include md-d {
            flex-direction: column;
            align-items: baseline;
        }
    }
    
    &__item {
        margin-right: 40px;
        @include md-d {
            margin-bottom: 30px;
            padding-bottom: 15px;
            border-bottom: 1px solid #C8CACB;
            width: 95%;

        }
    }
    
    &__link {
        color: #fff;
        text-decoration: none;
        @include simpleText;
        @include md-d {
            color: #070C11;
            margin-bottom: 30px;
        }
    }
}
.catalog-mob,
.search-mob{
    background-color: #EDF2F6;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: absolute;
    z-index: 5;
    width: 100%;
    padding: 105px 0px;
    opacity: 0;
}
.user-apy{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px 15px;
}
.search-mob-input {
    width: 260px;
    height: 15px;
    background-color: #fff;
    border: 1px solid #4878A6;
    border-radius: 4px;
    margin-top: 30px;
    padding: 14.5px 0px 14.5px 20px;
}
.search-mob {
    align-items: center;
    padding: 291px 0px;
}
.search__input {
    border: 0px;
    width: 39px;
}