@import 'vars';
@import 'breakpoints';
@import 'header';
@import 'main-nav';
@import 'description';
@import 'product-blocks';
@import 'footer';
@import 'catalog';
@import 'cabinet';

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Exo 2";
}

// forms style

.form-wrapper{
    background-color: #4879a6ba;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.registration-form {
    width: 370px;
    background-color: #fff;
    padding-right: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 20px;
    position: relative;
}
.registr {
    &__ttl {
        color: #070C11;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        padding: 20px 20px 19px 30px;
        background-color: #EDF2F6;
        width: 370px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__input-ttl {
        color: #070C11;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 8px;
        padding-left: 30px;
    }
    &__input {
        width: 310px;
        height: 48px;
        border: 1px solid #EAEAF0;
        outline: none;
        margin-bottom: 20px;
        margin-left: 30px;
    }

}

.form {
    &__close-img {
        @include hover;
    }
    &__btn{
        margin: 0px 0px 20px 30px;
    }
}
.user-apply {
    margin-left: 30px;
    color: #070C11;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 10px;
    &__link {
        color: #2A5275;
        text-decoration: none;
    }
}

.already-registr {
    color: #4878A6;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.forgot-pass,
.registr-link{
    color: #2A5275;
    text-decoration: none;
    display: block;
    margin: 0px 0px 22px 30px;
    &:hover{
        text-decoration: underline;
    }
}

.remember-me {
    display: flex;
    margin-left: 30px;
    margin-bottom: 22px;
}
.remember {

    &__input {
        display: none;
    }
}
.fake-checkbox {
    margin-right: 5px;
}

.remember__input:checked +  .fake-checkbox{
    background-color: #4878A6;
}

#enter-btn{
    width: 310px;
}

//@at-root

.make-offer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include xl-d{
        width: 95%;
        flex-direction: column;
    }
}

.make-offer-ttl {
    margin-bottom: 50px;
}
.buy-block {
    border: 1px solid #C8CACB;
    width: 860px;
    border-radius: 8px;
    margin-bottom: 40px;
    @include lg-d{
        width: 95%;
    }
}
.buy {

    // .buy__product

    &__ttl{
        color: #070C11;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        margin: 30px 0px 30px 30px;
    }

    &__product {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 800px;
        @include lg-d {
            width: 95%;
        }
        @include sm-d {
            width: 95%;
            position: relative;
            height: 140px;
        };
        padding-bottom: 49px;
        border-bottom: 1px solid #C8CACB;
        margin-bottom: 30px;
    }
    &__product:last-child{
        border-bottom: 0px;
    }

    // .buy__inner-ttl

    &__inner-ttl {
        color: #070C11;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        width: 280px;
        @include sm-d {
            width: 170px;
        };
    }

    // .buy__counter

    &__counter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;
        @include sm-d {
            position: absolute;
            top: 127px;
            left: 189px;
        }
    }

    // .buy__count

    &__count {
        padding: 13px 20px;
        border: 1px solid #C8CACB;
        border-radius: 5px;
    }

    // .buy__cost

    &__cost {
        @include sm-d {
            position: absolute;
            top: 127px;
            left: 32px;
        }
    }

    // .buy__trousght-cost

    &__trousght-cost {
        color: #838688;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        text-decoration: line-through;
    }

    // .buy__real-cost

    &__real-cost {
        color: #070C11;
        font-size: 24px;
        font-weight: 700;
        line-height: 31px;
    }

    // .buy__delete

    &__delete {
        @include hover;
        @include lg-d {
            margin-left: 15px;
        }
        @include sm-d {
            margin-right: 35px;
        }
    }
    &__img{
        width: 80px;
        height: 80px;
        margin-left: 30px;
        @include sm-d {
            width: 40px;
            height: 40px;
        }
    }
}
.minus,
.plus {
    @include hover;
}

.busket_active{
    background-color: #EDF2F6;
    padding: 2px;
}

.finish-amount {
    background-color: #EDF2F6;
    border-radius: 8px;
    padding: 30px;
    width: 420px;
    margin-left: 20px;
    @include md-d{
        width: 95%;
        margin-left: 0;
        padding: 15px;
    }
}
.finish {

    // .finish__ttl

    &__ttl {
        color: #070C11;
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        margin-bottom: 17px;
    }

    // .finish__info-block

    &__info-block {
        width: 360px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        @include md-d{
            width: 95%;
        }
    }

    // .finish__info-ttl

    &__info-ttl,
    &__info {
        color: #838688;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    // .finish__info

    &__info {
        color: #070C11;
    }

    // .finish__result-ttl

    &__result-ttl {
        color: #070C11;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        position: relative;
        width: 95%;
    }
    
    // .finish__result
    
    &__result {
        position: absolute;
        right: -258px;
        @include md-d{
            right: -121px;
        }
    }
}
.make {
    display: block;
    margin-top: 20px;
    width: 360px;
    height: 48px;
    border: 0px;
    border-radius: 4px;
    background-color: #838688;
    color: #fff;
    transition: .2s;
    @include md-d{
        width: 95%;
    } 
    @include hover;
    &:hover{
        background-color: #838688b8;
    }
}


//@at-root

.coparhison-header {
    display: flex;
    justify-content: space-between;
    margin-top: 78px;
    @include md-d {
        flex-direction: column;
        justify-content: start;
    }
    .product-wrapper{
        @include md-d {
            flex-wrap: nowrap;
            justify-content: start;
        }
    }
}
// .comparsion-settings {
// }
.drop-down {
    &__header,
    &__body {
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 13.5px 20px;
        @include hover;
        border: 1px solid #E5E5E5;
        border-radius: 5px;
    }
    
    &__ttl,
    &__choise {
        color: #070C11;
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
    }

    &__body {
        opacity: 0;
        height: 0;
    }
}
// .arrow-down {
// }
.comparsion-body{
    margin-bottom: 30px;
    margin-top: -50px;
    @include md-d {
        overflow-y: auto;
    }
}
.comparsion-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25.5px 0px 25.5px 20px;
    @include md-d {
        min-width: 760px;
    }
}
.row {
    &__ttl {
        width: 300px;
    }
    &__specification {
        width: 300px;
    }
}

.blue{
    background-color: #EDF2F6;
}
.orange{
    background-color: #FFF7E3;
}

//@at-root

.input_valid{
    border-color: green;
}