header {
  width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
@media (max-width: 1299.8px) {
  header {
    width: 94%;
  }
}

.header__logo {
  margin-right: 152px;
}
@media (max-width: 799.8px) {
  .header__logo {
    margin: 0;
  }
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -55px;
}
@media (max-width: 1299.8px) {
  .header__contacts {
    display: none;
  }
}
.header__number, .header__shedule {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #070C11;
  margin-left: 20px;
}
.header__number:first-child {
  margin-right: 3px;
}
.header__shedule {
  color: #838688;
}
.header__search {
  width: 80px;
  padding: 9px 12px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #C8CACB;
}
@media (max-width: 799.8px) {
  .header__search {
    display: none;
  }
}
.header__user-api {
  width: 192px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__user-api:hover {
  cursor: pointer;
}
@media (max-width: 799.8px) {
  .header__user-api {
    display: none;
  }
}
.header__user-img {
  width: 20px;
}
.header__enter {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: 0px;
  background-color: #2A5275;
  padding: 16px 26px;
  border-radius: 4px;
}
.header__enter:hover {
  cursor: pointer;
}

.search__img {
  margin-right: 15px;
}
.search__input {
  font-size: 16px;
  font-weight: 500;
  border: 0px;
  width: 59px;
  outline: none;
  line-height: 19px;
  letter-spacing: 0em;
  color: #838688;
}

.buy-page-btn,
.prefer-link {
  position: relative;
}

.buy-counter {
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #2A5275;
  right: -50%;
  top: -50%;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.prefer-counter {
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: red;
  border-radius: 50%;
  font-size: 11px;
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: -50%;
  top: -50%;
}

.mobile-nav {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  width: 94%;
  background-color: #2A5275;
  padding: 15px 3%;
  position: fixed;
  bottom: 0;
  z-index: 2;
}
@media (max-width: 799.8px) {
  .mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.mobile-nav__link {
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-nav__icon {
  width: 24px;
  height: 24px;
}

.main-nav {
  background-color: #0E1821;
}
@media (max-width: 1299.8px) {
  .main-nav {
    display: none;
  }
}

.wrapper {
  width: 1300px;
  margin: 0 auto;
}
@media (max-width: 1299.8px) {
  .wrapper {
    width: 94%;
  }
}

.main-nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog {
  background-color: #243C53;
  padding: 13px 112px 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 179px;
}
.catalog:hover {
  cursor: pointer;
}
.catalog__text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-left: 9px;
  text-decoration: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-left: 24px;
}
.nav__item {
  margin-right: 40px;
}
.nav__link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.description__list {
  list-style-type: none;
  width: 310px;
  padding: 0;
  margin: 0;
}
@media (max-width: 1299.8px) {
  .description__list {
    display: none;
    margin: 0 auto;
  }
}
.description__item {
  width: 211px;
  padding: 13.5px 81px 13.5px 18.5px;
  background-color: #EDF2F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.description__item:last-child {
  border-radius: 0px 0px 8px 8px;
}
.description__svg {
  margin-right: 10.5px;
}
.description__product-ttl {
  font-size: 16px;
  font-weight: 500;
  width: 169px;
}
.description__slider-img {
  margin-top: 20px;
}
@media (max-width: 1299.8px) {
  .description__slider-img {
    width: 95%;
  }
}

.most-popular {
  color: #070C11;
  font-size: 36px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 40px;
}
.most-popular__link {
  color: #2A5275;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.most-popular__arrow {
  margin-left: 5px;
}

.product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}
@media (max-width: 1299.8px) {
  .product-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-x: scroll;
  }
}

.product-cart {
  width: 286px;
  padding: 5px;
}

.prod__img {
  margin-bottom: 10px;
}
.prod__class {
  font-size: 16px;
  font-weight: 500;
  color: #838688;
  margin-bottom: 10px;
}
.prod__name {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #070C11;
  width: 286px;
  margin-bottom: 23px;
}
.prod__rating {
  margin-bottom: 14px;
}
.prod__cost-trought-line {
  text-decoration: line-through;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #838688;
}
.prod__real-cost {
  color: #070C11;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  margin-bottom: 6px;
}
.prod__cost-block, .prod__btns-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 18px;
}
.prod__coupon {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  background-color: #F37748;
  border-radius: 14px;
  padding: 3px 8px 3px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 105px;
}
.prod__percent {
  color: #070C11;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: #fff;
  border-radius: 23px;
  padding: 0px 4px;
}
.prod__order {
  color: #4878A6;
  border: 1px solid #4878A6;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  padding: 13px 51px;
  line-height: 21px;
}
.prod__order:hover {
  cursor: pointer;
}
.prod__user-api, .prod__add-in {
  padding: 15px 14px;
  border: 1px solid #C8CACB;
  border-radius: 4px;
  margin-bottom: -3px;
}
.prod__user-api:hover, .prod__add-in:hover {
  cursor: pointer;
}
.prod__user-api:last-child {
  padding: 14px 15px 14px 16px;
}
.prod__btns-block {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.prod__add-in {
  background-color: #4878A6;
  border: 0px;
  padding: 14px;
}

footer {
  background-color: #EDF2F6;
  padding: 40px 0;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1089.8px) {
  footer .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1199.8px) {
  footer .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 223px 25px 223px;
    grid-template-columns: repeat(2, 223px);
    grid-column: repeat(2, 150px);
    width: 62%;
    grid-gap: 25px;
  }
}
@media (max-width: 579.8px) {
  footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__contacts {
  margin-top: 25px;
}
.footer__number, .footer__shedule {
  margin-left: 0;
  margin-bottom: 10px;
}
.footer__location {
  color: #070C11;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 10px;
}
.footer__list {
  list-style-type: none;
}
@media (max-width: 1199.8px) {
  .footer__list {
    margin-top: 40px;
  }
}
@media (max-width: 579.8px) {
  .footer__list:last-child {
    margin-left: -50px;
  }
}
.footer__list-ttl {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 20px;
  color: #838688;
  text-decoration: none;
}
.footer__item {
  margin-bottom: 10px;
}
.footer__link {
  color: #070C11;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.filters-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters-wrapper .product-wrapper {
  width: 995px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cost-select__header {
  width: 273px;
  padding: 10px 16.5px 10px 20px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #EDF2F6;
  margin-bottom: 20px;
}
.cost-select__body {
  opacity: 0;
  height: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.cost-select__body_active {
  opacity: 1;
  height: auto;
}

.select__ttl {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #070C11;
}
.select__arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.select__arrow:hover {
  cursor: pointer;
}
.select__arrow_active {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.select__arrow_active:hover {
  cursor: pointer;
}
.select__inputs {
  width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #838688;
  margin-bottom: 27px;
}
.select__input {
  padding: 13.5px 0 13.5px 20px;
  border: 1px solid #E5E5E5;
  width: 97px;
  border-radius: 4px;
  margin-left: 11px;
}
.select__input:last-child {
  padding: 13.5px 0 13.5px 20px;
}

.cost-slider {
  position: relative;
  width: 290px;
  height: 6px;
  background-color: #EAEAF0;
  border-radius: 12px;
  margin-bottom: 27px;
}
.cost-slider__target {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4878A6;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.cost-slider__target:hover {
  cursor: pointer;
}
.cost-slider__target:last-child {
  left: 150px;
}

.cost__choise {
  background-color: #4878A6;
  width: 150px;
  height: 6px;
}

.apply {
  background-color: #4878A6;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: 0px;
  border-radius: 4px;
  padding: 16px 112px;
  margin-bottom: 30px;
}
.apply:hover {
  cursor: pointer;
}

.light__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}
.light__input {
  display: none;
}
.light__input:checked + .fake-checkbox {
  background-color: #4878A6;
  border-color: #4878A6;
}

.fake-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #EAEAF0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.var {
  color: #070C11;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-left: 12px;
}

.filter-select {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 47px;
}

.filter__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #E5E5E5;
  padding: 13.5px 21px 13.5px 20px;
}
.filter__header-ttl {
  border-radius: 4px;
  margin-right: 56px;
}
.filter__header-ttl .select__arrow {
  margin-left: 56px;
}
.filter__body {
  padding: 13.5px 21px 13.5px 12px;
  opacity: 0;
  width: 200px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.filter__body:hover {
  cursor: pointer;
  background-color: #EDF2F6;
}
.filter__body_active {
  display: inline;
  opacity: 1;
}

.cart_unvisible {
  display: none;
}

.cart_visible {
  display: block;
}

.cabinet-inner-ttl {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
  color: #070C11;
  margin-top: 89px;
}
@media (max-width: 1089.8px) {
  .cabinet-inner-ttl {
    display: none;
  }
}

.cabinet__list {
  list-style-type: none;
  margin-bottom: 92px;
}
@media (max-width: 1089.8px) {
  .cabinet__list {
    display: none;
  }
}
.cabinet__item {
  width: 130px;
  padding: 17.5px 158px 17.5px 20px;
}
.cabinet__item:hover {
  background-color: #EDF2F6;
  cursor: pointer;
}
.cabinet__link {
  text-decoration: none;
  color: #070C11;
  font-size: 16px;
  font-weight: 500;
}
.cabinet__item:last-child .cabinet__link:last-child {
  color: #F15152;
}

.user-data {
  margin-left: 135px;
  margin-top: 140px;
}
@media (max-width: 1089.8px) {
  .user-data {
    margin-left: 0;
  }
}

.user__name {
  color: #070C11;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 30px;
}
.user__data-block {
  margin-left: 30px;
}
.user__registration, .user__orders {
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  color: #070C11;
}
.user__paragraph {
  width: 535px;
  color: #070C11;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 20px;
}
@media (max-width: 1089.8px) {
  .user__paragraph {
    width: 94%;
  }
}
.user__btn {
  color: #fff;
  background-color: #2A5275;
  padding: 15.5px 80px;
  border: 0px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}
.user__btn:hover {
  cursor: pointer;
}
@media (max-width: 1089.8px) {
  .user__btn {
    width: 94%;
  }
}

.stats-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.user-data-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 135px;
  margin-top: 140px;
}
@media (max-width: 1089.8px) {
  .user-data-form {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 94%;
  }
}

.user__input-lists {
  list-style-type: none;
  margin-left: 20px;
  height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1089.8px) {
  .user__input-lists {
    margin-bottom: 30px;
    margin-left: 0;
    width: 94%;
  }
}
.user__input {
  outline: none;
  padding: 16px 91px 16px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #070C11;
  margin-bottom: 20px;
  border: 1px solid #EAEAF0;
}
@media (max-width: 1089.8px) {
  .user__input {
    width: 280px;
    padding: 16px 0px 16px 9px;
  }
}
.user__input-ttl {
  color: #070C11;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 8px;
}

.change-passwd-form {
  margin-left: 135px;
  margin-top: 140px;
}
@media (max-width: 1089.8px) {
  .change-passwd-form {
    margin: 0;
  }
}

.change-passwd__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 6px 12px 25px;
  border: 1px solid #EAEAF0;
  border-radius: 5px;
  margin-bottom: 30px;
}
.change-passwd__input {
  border: 0px;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #070C11;
  padding-top: 4px;
}

.security {
  margin-right: 5px;
}

.display {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Exo 2";
}

.form-wrapper {
  background-color: rgba(72, 121, 166, 0.7294117647);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.registration-form {
  width: 370px;
  background-color: #fff;
  padding-right: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-bottom: 20px;
  position: relative;
}

.registr__ttl {
  color: #070C11;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  padding: 20px 20px 19px 30px;
  background-color: #EDF2F6;
  width: 370px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.registr__input-ttl {
  color: #070C11;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 8px;
  padding-left: 30px;
}
.registr__input {
  width: 310px;
  height: 48px;
  border: 1px solid #EAEAF0;
  outline: none;
  margin-bottom: 20px;
  margin-left: 30px;
}

.form__close-img:hover {
  cursor: pointer;
}
.form__btn {
  margin: 0px 0px 20px 30px;
}

.user-apply {
  margin-left: 30px;
  color: #070C11;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 10px;
}
.user-apply__link {
  color: #2A5275;
  text-decoration: none;
}

.already-registr {
  color: #4878A6;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.forgot-pass,
.registr-link {
  color: #2A5275;
  text-decoration: none;
  display: block;
  margin: 0px 0px 22px 30px;
}
.forgot-pass:hover,
.registr-link:hover {
  text-decoration: underline;
}

.remember-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  margin-bottom: 22px;
}

.remember__input {
  display: none;
}

.fake-checkbox {
  margin-right: 5px;
}

.remember__input:checked + .fake-checkbox {
  background-color: #4878A6;
}

#enter-btn {
  width: 310px;
}

.make-offer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1299.8px) {
  .make-offer-wrapper {
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.make-offer-ttl {
  margin-bottom: 50px;
}

.buy-block {
  border: 1px solid #C8CACB;
  width: 860px;
  border-radius: 8px;
  margin-bottom: 40px;
}
@media (max-width: 1089.8px) {
  .buy-block {
    width: 95%;
  }
}

.buy__ttl {
  color: #070C11;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  margin: 30px 0px 30px 30px;
}
.buy__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 800px;
  padding-bottom: 49px;
  border-bottom: 1px solid #C8CACB;
  margin-bottom: 30px;
}
@media (max-width: 1089.8px) {
  .buy__product {
    width: 95%;
  }
}
@media (max-width: 579.8px) {
  .buy__product {
    width: 95%;
    position: relative;
    height: 140px;
  }
}
.buy__product:last-child {
  border-bottom: 0px;
}
.buy__inner-ttl {
  color: #070C11;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  width: 280px;
}
@media (max-width: 579.8px) {
  .buy__inner-ttl {
    width: 170px;
  }
}
.buy__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
}
@media (max-width: 579.8px) {
  .buy__counter {
    position: absolute;
    top: 127px;
    left: 189px;
  }
}
.buy__count {
  padding: 13px 20px;
  border: 1px solid #C8CACB;
  border-radius: 5px;
}
@media (max-width: 579.8px) {
  .buy__cost {
    position: absolute;
    top: 127px;
    left: 32px;
  }
}
.buy__trousght-cost {
  color: #838688;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: line-through;
}
.buy__real-cost {
  color: #070C11;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
}
.buy__delete:hover {
  cursor: pointer;
}
@media (max-width: 1089.8px) {
  .buy__delete {
    margin-left: 15px;
  }
}
@media (max-width: 579.8px) {
  .buy__delete {
    margin-right: 35px;
  }
}
.buy__img {
  width: 80px;
  height: 80px;
  margin-left: 30px;
}
@media (max-width: 579.8px) {
  .buy__img {
    width: 40px;
    height: 40px;
  }
}

.minus:hover,
.plus:hover {
  cursor: pointer;
}

.busket_active {
  background-color: #EDF2F6;
  padding: 2px;
}

.finish-amount {
  background-color: #EDF2F6;
  border-radius: 8px;
  padding: 30px;
  width: 420px;
  margin-left: 20px;
}
@media (max-width: 799.8px) {
  .finish-amount {
    width: 95%;
    margin-left: 0;
    padding: 15px;
  }
}

.finish__ttl {
  color: #070C11;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 17px;
}
.finish__info-block {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 799.8px) {
  .finish__info-block {
    width: 95%;
  }
}
.finish__info-ttl, .finish__info {
  color: #838688;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.finish__info {
  color: #070C11;
}
.finish__result-ttl {
  color: #070C11;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  position: relative;
  width: 95%;
}
.finish__result {
  position: absolute;
  right: -258px;
}
@media (max-width: 799.8px) {
  .finish__result {
    right: -121px;
  }
}

.make {
  display: block;
  margin-top: 20px;
  width: 360px;
  height: 48px;
  border: 0px;
  border-radius: 4px;
  background-color: #838688;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media (max-width: 799.8px) {
  .make {
    width: 95%;
  }
}
.make:hover {
  cursor: pointer;
}
.make:hover {
  background-color: rgba(131, 134, 136, 0.7215686275);
}

.coparhison-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 78px;
}
@media (max-width: 799.8px) {
  .coparhison-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media (max-width: 799.8px) {
  .coparhison-header .product-wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.drop-down__header, .drop-down__body {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13.5px 20px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
}
.drop-down__header:hover, .drop-down__body:hover {
  cursor: pointer;
}
.drop-down__ttl, .drop-down__choise {
  color: #070C11;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}
.drop-down__body {
  opacity: 0;
  height: 0;
}

.comparsion-body {
  margin-bottom: 30px;
  margin-top: -50px;
}
@media (max-width: 799.8px) {
  .comparsion-body {
    overflow-y: auto;
  }
}

.comparsion-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25.5px 0px 25.5px 20px;
}
@media (max-width: 799.8px) {
  .comparsion-row {
    min-width: 760px;
  }
}

.row__ttl {
  width: 300px;
}
.row__specification {
  width: 300px;
}

.blue {
  background-color: #EDF2F6;
}

.orange {
  background-color: #FFF7E3;
}

.input_valid {
  border-color: green;
}

.prod__delete {
  color: #821a1a;
  position: absolute;
  right: 0%;
  font-size: 18px;
}
.prod__delete:hover {
  cursor: pointer;
}